.bg-cstm {
  background-color: #0073aa;
  color: white;
}

a {
  text-decoration: none;
}

.img-fluid{
  width: 13rem;
  height: auto;
}

@media (max-width: 576px) {
  .cstm-block-inline {
    display: inline-block;
  }
}

.mySlides1{
  padding-left: 5%;
}
.nav-link{
  font-weight: bold;
}

.dropdown > ul > li{
  margin-bottom: 0.2rem;
}

*{
  font-size: 0.7rem;
}

.badge {
  display: inline-block;
  padding: .15rem .20rem;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}