<div class="container-fluid">
  <div class="row p-lg-4">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container bg-cstm-2">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">My Accounts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Update Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Change Password</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Export Account Summary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row mx-auto mt-3">
    <div class="col text-center">
      <p><span class="text-muted">Welcome</span>&nbsp;<span class="text-muted text-uppercase" style="font-weight: bold; font-size: large;">Mr.Gajendra Singh</span></p>
    </div>
  </div>
  <div class="row p-lg-5">
    <div class="col table-responsive">
      <table class="table table-bordered border-success">
        <thead>
          <tr class="text-center bg-cstm-1 font-cstm-2">
            <th>Account Number</th>
            <th>Service Connection Number</th>
            <th>Name</th>
            <th>Address</th>
            <th>Service Status</th>
            <th>Due Date</th>
            <th>Net Payble Amount</th>
            <th>Payment Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="" *ngFor="let item of data">
            <td class="text-primary text-center">{{item.acc_no}}</td>
            <td class="text-uppercase text-center">{{item.serv_conn}}</td>
            <td class="text-uppercase">{{item.name}}</td>
            <td class="text-uppercase">{{item.addr}}</td>
            <td class="text-center">{{item.service_status}}</td>
            <td class="text-center">{{item.due_date}}</td>
            <td class="text-end">{{item.netPaybleAmount}}</td>
            <td class="text-danger text-center">{{item.paymentStatus}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
