<app-nav-bar></app-nav-bar>
<app-home-page></app-home-page>
<div class="sticky-container">
  <ul class="sticky">
    <li>
      <img width="32" height="32" title="" alt="" src="../assets/img/lang1.png" />
      <p>Hindi</p>
    </li>
    <li>
      <i class="fa-solid fa-2x fa-user"></i>
      <p>Consumer Login</p>
    </li>
    <li>
      <i class="fa-solid fa-2x fa-credit-card"></i>
      <p>Payments</p>
    </li>
    <li>
      <img width="32" height="32" title="" alt="" src="../assets/img/receipt1.png" />
      <p>Receipt</p>
    </li>
    <li>
      <i class="fa-solid fa-2x fa-pen-to-square"></i>
      <p>Service Status</p>
    </li>
    <li>
      <img width="32" height="32" title="" alt="" src="../assets/img/favicon.png" />
      <p>Main Website</p>
    </li>
  </ul>
</div>
<a href="#" class="float">
  <img class="my-float" src="../assets/img/access_body.svg">
</a>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>