.bg-cstm {
  background-color: #0073aa;
  color: white;
}

a {
  text-decoration: none;
}

@media (min-width: 992px) {
  .pt-lg-5 {
    padding-top: 4% !important;
  }
  .row {
    margin-right: 0 !important;
  }
  .col {
    padding-right: 0 !important;
  }
  .offset-lg-1 {
    margin-left: 13.8%;
}
}
.row>*{
  padding-right: 0!important;
}
